.dragon {
    height: 20vh;
    background: #aaa;
  }
.tableimage{
  height:25vh;
  width:25vw;
}

body {
  background: #02091f;
}
h2, #color{
  color:#5f79cc
}
h1{
  color:#1f1e77;
}

p, h5{
  color: white
}
h5{
  margin-top:15px
}
@media (max-width: 700px) {
  .tableimage {
  height: 15vh;
  width: 15vw;
  } .img{
    display:none
  } p, h1, h2, h3, h4, h5  {
    padding-left: 10px
  } #map {
    margin-left: 20px;
    width: 50%;
    height:20%
  } .searchImage{
    display:none
  }
 }
img{
  height:25vh;
  width:25vw;
}
*{
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}
#map {
  margin-top:10px;
  margin-bottom:10px;
  height: 50vh;
  /* The height is 400 pixels */
  width: 65vw;
  /* The width is the width of the web page */
}

@media (min-width: 977px){
  .navbar ul{
    margin-left: 2em
  }
  .navbar li {
      margin-left : 5em;
      margin-right : 5em;
  }
}
.navbar .navbar-collapse .mr-auto {
  display: flex!important;
  justify-content: space-around;
  }
.mr-auto{
  flex:1
}
.navbar, .footer {
  background-color: rgb(18, 85, 143)
}